(
    data: {
        "beral@sevjnet.ch": (
            email: "beral@sevjnet.ch",
            salt: (233, 81, 61, 159, 145, 154, 226, 240, 205, 127, 159, 174, 26, 113, 175, 188),
            hash_password: "$argon2i$v=19$m=4096,t=3,p=1$6VE9n5Ga4vDNf5+uGnGvvA$09Dz4b4YgcsvolPJDawvwzeJ6NfbcJ4BsYPZVtinzH8",
            public_yubikey: [
                4,
                92,
                207,
                222,
                138,
                66,
                60,
                218,
                63,
                63,
                132,
                127,
                50,
                11,
                153,
                19,
                99,
                24,
                220,
                30,
                206,
                177,
                238,
                240,
                101,
                207,
                206,
                192,
                230,
                24,
                5,
                146,
                115,
                191,
                243,
                186,
                254,
                55,
                90,
                38,
                217,
                153,
                110,
                207,
                92,
                159,
                162,
                134,
                110,
                31,
                192,
                87,
                245,
                85,
                187,
                21,
                16,
                6,
                32,
                113,
                238,
                165,
                96,
                188,
                141,
            ],
            two_fa: false,
        ),
    },
)