(
    data: {
        "beral@sevjnet.ch": (
            email: "beral@sevjnet.ch",
            salt: (130, 152, 227, 48, 221, 73, 139, 33, 243, 63, 18, 43, 64, 234, 223, 131),
            hash_password: "$argon2i$v=19$m=4096,t=3,p=1$gpjjMN1JiyHzPxIrQOrfgw$GZE/0zgtgWVsKzde9tLyVUsyjoahMElCzzrJTtv6IpY",
            public_yubikey: [
                4,
                147,
                156,
                252,
                6,
                232,
                36,
                160,
                118,
                187,
                204,
                90,
                32,
                35,
                236,
                103,
                28,
                109,
                134,
                24,
                115,
                124,
                105,
                54,
                135,
                211,
                38,
                105,
                125,
                175,
                33,
                76,
                228,
                93,
                3,
                243,
                14,
                84,
                95,
                84,
                206,
                30,
                24,
                110,
                170,
                3,
                217,
                61,
                227,
                212,
                186,
                45,
                132,
                8,
                113,
                189,
                255,
                152,
                241,
                185,
                52,
                234,
                246,
                227,
                86,
            ],
            two_fa: true,
        ),
    },
)