(
    data: {
        "beral@sevjnet.ch": (
            email: "beral@sevjnet.ch",
            salt: (208, 64, 216, 127, 51, 51, 212, 120, 229, 83, 52, 191, 140, 90, 95, 134),
            hash_password: "$argon2i$v=19$m=4096,t=3,p=1$0EDYfzMz1HjlUzS/jFpfhg$8UiiPHWyfH2GwLkkGfJs68Q/TZnmJ/zWjw4fw9Vfkb8",
            public_yubikey: [
                4,
                244,
                251,
                173,
                218,
                20,
                98,
                99,
                5,
                234,
                53,
                64,
                24,
                84,
                110,
                171,
                119,
                105,
                15,
                141,
                50,
                5,
                202,
                186,
                64,
                202,
                7,
                108,
                71,
                169,
                94,
                174,
                167,
                43,
                89,
                58,
                240,
                240,
                25,
                101,
                206,
                83,
                140,
                57,
                248,
                5,
                43,
                54,
                128,
                105,
                244,
                225,
                48,
                157,
                108,
                90,
                163,
                154,
                30,
                147,
                81,
                71,
                60,
                98,
                153,
            ],
            two_fa: false,
        ),
    },
)